* {
	background: #EEEEEE;
	text-align: left;
}

body {
	line-height: 1.4;
	font-family: 'Bellefair', serif;
	font-size: 20px;	
	margin-right: auto;
	margin-left: auto;
	max-width: 700px
}

h1 {
	color: firebrick;
}

#contact {
	color: #226ab2;
}
